@model Levelnis.Learning.UsingDataTablesWithWebApi.Models.HomeViewModel
<div class="row">
    <div class="col-xs-12">
        @Html.DisplayFor(m => m.CustomerWidget)
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @Html.DisplayFor(m => m.UserWidget)
    </div>
</div>

@section scripts {
    <script>
        (function($) {
        @Helpers.CreateTableScript("CustomerTable", "/api/customerSearch", Model.CustomerWidget.RenderClientColumnScript(), "There are no customers at present.", "There were no matching customers found.")
        @Helpers.CreateTableScript("UserTable", "/api/userSearch", Model.UserWidget.RenderClientColumnScript(), "There are no users at present.", "There were no matching users found.")
        })(jQuery);
    </script>
}